@use "sass:color";
@use "sass:math";
@use "variables" as *;
@use "type" as *;
@use "../utilities" as *;

// ================
// Layout
// ================

// ================
// Viewport Rules

@viewport {
  width: device-width;
  zoom: 1;
}

@viewport {
  width: device-width;
  zoom: 1;
}

// ================
// Layout Modules

@mixin center ($_maxWidth: $d-centerMaxWidth, $_width: $d-centerWidth) {
  width: $_width;
  max-width: $_maxWidth;
  margin: auto;
}

%center,
.center {
  @include center;
}

@mixin fullWidth () {
  max-width: none;
  width: 100%;
}

// Container Style Mixin
@mixin containerStyle (
  $_c-backgroundColor: white,
  $_x-border: "null",
  $_c-borderColor: "null",
  $_x-boxShadow: "null",
  $_x-boxShadowColor: rgba($c-black, 0.2)
) {

  background: $_c-backgroundColor;
  @include fluidRem("padding", 1.25rem 1.5rem, 2rem 2.25rem, $mq-300, $mq-800);

  @if $_x-border == "yes" {
    border: 1px solid $_c-borderColor;
  }

  @if $_x-boxShadow == "yes" {
    box-shadow: 0 0 15px $_x-boxShadowColor;
  }
}

// Add after containerStyle Mixin
@mixin containerReversed{

  a{
    @include reversed-link;
  }
  
  h1, h2, h3, h4, h5, h6, p, li, ul, label, address, div {
    color:white;
  }
}


// CSS Box Model - add padding or margin spacing. 2x spacing on larger screens.
@mixin boxSpacing (
  $_padding-top: 2rem, 
  $_padding-bottom: 2rem,
  $_spacingType: "padding"
  ) {
    
  @include fluidRem($_spacingType, $_padding-top 0 $_padding-bottom, ($_padding-top * 2) 0 ($_padding-bottom * 2));
}
