@use "sass:color";
@use "sass:math";
@use "foundation/config" as *;
@use "foundation/components" as *;
@use "foundation/utilities" as *;

// ================
// Extension Styles
// ================

.wrapper{
  width: $mq-400;
  height: $mq-600;
  padding:1rem;
}

#autoFiller{
  textarea{
    height: $mq-300;
    white-space:nowrap;
  }
}

#dynamicStyler{

}

textarea{
  font-size: rem(13px);
}

button{
  margin-top:1rem;
}