@use "sass:color";
@use "sass:math";
@use "foundation/config" as *;
@use "foundation/components" as *;
@use "foundation/utilities" as *;

// ================================================
// General Extension Styles
// ================================================

textarea{
  font-size: rem(13px);
}

button{
  margin-top:1rem;
}

.button-group{
  display:flex;
  gap:1rem;
}

// ================================================
// AutoFill Styles
// ================================================

#autoFiller{
  textarea{
    height: $mq-300;
    white-space:nowrap;
  }
}

// ================================================
// Dynamic Styler Styles
// ================================================

#dynamicStyler{

  .linkStylesInput{
    min-height:auto;
  }

}